{% extends "jokeoverflow/base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title_block %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css'' %}" rel="stylesheet">

	<!-- Custom styles for this template -->
    <link href="{% static 'css/register.css' %}" rel="stylesheet">

{% endblock %}
{% block body_block %}

<div class='col-sm-6 col-sm-offset-3'>
    <h1 class="form-signin-heading">Register Now</h1>
    <form role="form-signin"  method="post" action=".">
        {% csrf_token %}
        {{ form|crispy}}

    <input class='btn btn-primary' type="submit" value="submit"/>
    <br>
    </form>
</div>
{% endblock %}
