html,
body {
  height: 100%;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

body {
  color:black;
}

h1{
  color:black;
  
}

.form-container{
	background-color: rgba(255, 204, 0, 0.2);
  
	border-radius: 20px;
  border-style: solid;
  border-color: #ffcc00;
  border-width: 2px;

}


.btn-80{
	border-width: 2px;
	border-color: #e6b800;
 	padding: 20px 20px;
	width:50%;
	color:black;
	background-color: #ffd633
	transition-duration: 100s;
}

.btn-80:hover{
	color:black;
	transition-duration: 20s;
	background-color:#ffcc00;
	background-color: #000000;
}

.sc-list-box{
	border-width:4px;
	background-color: rgba(255, 204, 0, 0.2);
	background-color: rgba(255,204,0,0.3);
	border-radius: 10px;
  	border-style: solid;
  	border-color: #ffcc00;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	word-break:normal;
  	min-width:200px;
  	padding-top:30px;
}

.section-title{
	text-align:center;
}

.section-list{
	color:red;

}




.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 204, 0,0.1);
	background: rgba(0, 0, 0,0.1);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 80%;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#ffeb99, #ffffff);
       background: -webkit-linear-gradient(#ffeb99, #fff);
	border-color:#ffcc00;
	border-width:2px;
	border-style:solid;
        background: -o-linear-gradient(#fff, #999);
        max-height:70%;
        overflow-y:scroll;
    }



.box-cont{
	p: red;

    color: black;

    a: red;
    

}


.box-cont a:link {
    color:black;
	text-decoration: underline;

}






.box-cont a:active {

    color:#ffcc00;

}



.box-cont a:hover{

    color:black;
	font-style: italic;
    text-decoration: underline;
	font-weight: bold;
}


.box-cont a:visited {
    background-color:pink;
    color:gold;
    color:rgb(204, 102, 0);
    font-weight: bold;
    font-style: italic;

}

/*
    .close {
        background: #ffcc00;
        color: black;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
	opacity: 1;
	border-color:black;
	border-style:solid;

    }

    .close:hover { 
background: black; 
text-decoration: none;
color:#ffcc00;
opacity: 1;
}
*/


.pop-joke-title{
	color:black;
	font-size: 30px;
	/*text-decoration: underline;*/
	text-decoration:none;
	font-weight:bold;
}

.pop-joke-text{
	color:black;
	background-color:white;
	border-width:2px;
	border-color:#ffcc00;
	border-style:solid;
border-radius: 10px;
padding: 25px 25px 25px 25px;
}

.pop-joke-text p{
	color:black;
	background-color:white;
}

.vote-icon{
	width:48px;
	height:48px;
}

#upvoteYES-image{
width:20px;
}

.up-img{
width:30px;
}




.comments-container{
border-width:2px;
border-color:black;
border-style:solid;
border-radius:5px;
border-color:rgb(255,204,0);
background-color: rgba(255,204,0,0.2);
background-color:rgba(255,204,0,0.1);
color:black;
padding:0px;
margin:0px;
}

hr{
color:red;
border-color:rgb(255,204,0);
}

.comments-container p{
color:black;
font-weight:bold

}

.comment-field{
border-width:0px;
border-color:black;
border:solid;
background-color:white;
height: 150px;
overflow-y: scroll;
overflow-x:hidden;
border-color:rgba(255,204,0,1);
border-width:2px;
width:100%;
border-radius:2px;
}

.search-div{
}

.sc-joke-search{
    background-color:red;
    font-weight:bold;
    width:400px;
}

.sc-page-title p{
    color:black;
    font-size:30px;
    font-weight:bold;
    font-decoration:underline;
}


.close {
    color: #aaa;
    float: right;
    font-size: 64px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.box-title{
    color:black;
font-size:30px;
font-size: 2vmax;
    text-decoration:underline;
}

.box-title p{
    color:black;
    font-size:30px;
font-size: 2vmax;
    text-decoration:underline;
}

.list-box{
    margin-left:auto;
    margin-right:auto;
    border-spacing:100px;
    width:50%;
    margin:4%;
 margin-left:auto;
    margin-right:auto;
    /*background-color:red;*/

}


.logo-top{
width:100%;
margin:0px;
}

.comment-profile-pic{
    width:100%;
    border-right:1px solid #ccc;
    margin-left:auto;
    marign-right:auto;
}

.comment-profile-pic img{
    width:40px;
    height:40px;
    margin-left: auto;
    margin-right: auto;
    border:2px solid rgb(255,204,0);
}

.sc-com-profile-pic{
    background-color:rgb(255,204,0);
    height:40px;
    width:40px;
}


.sc-heading-title p{
    font-size:40px;
    font-size: 2.5vmax;
}




.charfield{
background-color:blue;
}

.form-comment-text{
}



textarea{
/*background-color:red;*/
height:50px;
width:100%;
}



.sc-comment-text p{
    color:black;
}

.vote-icon hover{
border:10px solid red;
}


.sc-page-desc{
color:black;
}

.sc-all-jokes-box{
max-height:400px;
overflow-y:scroll;
}

.btn-submit{
width:100%;
marign-left:auto;
margin-right:auto;
display:block;
}

.sc-complaints-table{
max-height:300px;
overflow-y:scroll;
}