.sc-video-list-item{
    border-width:5px;
    border-color:rgb(255,204,0);
    border-style:solid;
    background-color:rgba(255,204,0,0.1);
    border-radius:5px;
}

.sc-video{
    width:90%;
    margin-left:auto;
    margin:right:auto;
    align:center;
    border:2px solid rgb(255,204,0);
    height:100%;
    position:relative;
    height:200px;
    margin: 0 auto;
}

.sc-rec-video-list{
    border-left:2px solid rgb(255,204,0);
    border-right:2px solid rgb(255,204,0);
}

.sc-video-info{
    align:center;
    font-size:10px;
}

.sc-add-video-list{
    border-left:2px solid rgb(255,204,0);
    border-right:2px solid rgb(255,204,0);
}