{% extends 'jokeoverflow/base2.html' %}
{% load staticfiles %}
{% block head_block %}
<!-- Custom styles for this template -->
<link href="{% static 'css/about_us.css' %}" rel="stylesheet">
{% endblock %}
{% block title_block %}
About Us
{% endblock %}

{% block body_block %}
<div class="container">
<br>
<div class="text-center sc-page-title">
    <h1 class="text-center">
        About JokeOverflow
    </h1>
</div>
<br>
<div class="row">

    <div class="col-md-1">
    </div>

    <div class="text-center col-md-6 sc-website-desc">
        <p>
            JokeOverflow is a website to give users a space to come and make, view and comment on jokes. You are able to
            view jokes and videos other users upload, and if you register for an account you can vote, comment and
            upload your own jokes or videos. Hope you enjoy your visit.
        </p>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-3 sc-members-list-box">
        <h2 class = "sc-block-title text-center">
            Members
        </h2>
        <p class="sc-box-cont">
            <br>
            <strong>Sam Cook</strong> : Templates and CSS
            <br>
            <strong>David Damer</strong> : Models, JavaScript and AJAX
            <br>
            <strong>Joe Kadi</strong> : User Authentication and Unit Testing
            <br>
            <strong>Stuart McMillan</strong> : Views
            <br>
        </p>
    </div>

    <div class="col-md-1">

    </div>
</div>
<br>
</div>
{% endblock %}
