{% extends 'jokeoverflow/base2.html' %}
{% load staticfiles %}
{% block head_block %}
<!-- Custom styles for this template -->
<link href="{% static 'css/about_us.css' %}" rel="stylesheet">
{% endblock %}
{% block title_block %}
Contact Us
{% endblock %}
{% block body_block %}
<div class="container">
    <br>
    <div class="text-center sc-page-title">
        <h1 class="text-center">
            Contact Us
        </h1>
    </div>
    <br>
    <div class="text-center col-md-6 sc-website-desc">
        <p>
            We at JokeOverflow are take inappropriate behavoir very seriously. If you happen to see a joke that you think should be restricted
            and is not, or think a joke should be removed, please flag the joke and contact us and our admins will do best to sort the
            matter. <br>
            You can also contact us at jokeoverflow@jokeoverflow.com if you want to request to become one of our
            selected admin users.
        </p>
    </div>
    <br>
    <div class="text-center sc-log-link">
            <a href="{% url 'jokeoverflow:log_complaint' %}">Log a complaint</a>
    </div>
    <br>
</div>
{% endblock %}
