{% extends 'jokeoverflow/base2.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title_block %}
<link href="{% static 'css/topratedjokes.css' %}" rel="stylesheet">

{{user}}'s Page
{% endblock %}
{% block body_block %}
<div class="container">

    <div align="center">
        <h1 class="text-center"><u>Hello {{ user }}</u></h1>
        <br>

        {% for useri in users %}
                    {% if useri.user == user %}
                        {% if useri.user_picture %}

                            <img style="height:256px;; width:256px;"
                                 class="sc-com-profile-pic"
                                 src="{{ MEDIA_URL }}{{ useri.user_picture }}"
                                 alt="{{ useri.user }}" />
                        {% else %}
                            <img style="height:256px; width:256px; margin-left:auto; margin-right:auto;"
                                 class="sc-com-profile-pic" style="float:right;"
                                 src="{{ MEDIA_URL }}profile_images/../../media/default.PNG"
                                 alt="No profile picture" />
                        {% endif %}

                    {% endif %}

        {% endfor %}
    </div>
    <br>
    <div align="center">
        <h2>Edit Your Profile</h2>
        <br>
        <form method="POST" action="/jokeoverflow/edit_profile/" class="" >

            {% csrf_token %}
            {{ form|crispy}}
            <br>
            <button type="submit">Save</button>
        </form>

    </div>
    <div id="edit_profile"></div>

</div>
{% endblock %}
