{% extends 'jokeoverflow/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Home
{% endblock %}
{% block body_block %}
	<h1>This is the HOME page</h1>
	<div>
		<h2> Most Liked Jokes </h2>
		<p>
			{% if rated_jokes %}
				<ul class="list-group">
					{% for joke in rated_jokes %}
						 <li>{{ joke.title }}<li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no jokes present.</strong>
			{% endif %}
		</p>
	</div>
	<div>
		<h2> Most Liked Videos </h2>
		<p>
			{% if rated_videos %}
				<ul class="list-group">
					{% for video in rated_videos%}
						 <li>{{ video.title}}<li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no videos present.</strong>
			{% endif %}
		</p>
	</div>
	<div>
		<h2> Recently Added Jokes </h2>
		<p>
			{% if recent_jokes %}
				<ul class="list-group">
					{% for joke in recent_jokes %}
						 <li>{{ joke.title }}<li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no jokes present.</strong>
			{% endif %}
		</p>
	</div>
	{% if categories %}
		<ul class="list-group">
			{% for category in categories %}
				 <li class="list-group-item"><a href="{% url 'show_category' category.slug %}">
					{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
{% endblock %}