{% extends 'jokeoverflow/base2.html' %}
{% load staticfiles %}
{% block title_block %}
{% endblock %}
{% block body_block %}
	
<div class="container">
        <!-- Example row of columns -->
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<h1>This is the HOME page</h1>
		</div>
		<div class="col-md-1">
		</div>
	</div>

        <div class="row">


          <div class="col-md-4">
            <h2> Most Liked Jokes </h2>
		<p>
			{% if topratedjokes %}
				<ul class="list-group">
					{% for joke in topratedjokes %}
						 <li>{{ joke.title }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no jokes present.</strong>
			{% endif %}
		</p>
          </div>



          <div class="col-md-4">
            <h2> Most Liked Videos </h2>
		<p>
			{% if topratedvideos %}
				<ul class="list-group">
					{% for video in topratedvideos %}
						<li>{{ video.title }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no videos present.</strong>
			{% endif %}
		</p>
          </div>




          <div class="col-md-4">
            <h2> Recently Added Jokes </h2>
		<p>
			{% if recentjokes%}
				<ul class="list-group">
					{% for joke in recentjokes%}
						 <li>{{ joke.title }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no jokes present.</strong>
			{% endif %}
		</p>
          </div>
        </div>

        <hr>

</div> <!-- /container -->


{% endblock %}