{% extends 'jokeoverflow/base2.html' %}
{% load staticfiles %}
{% load jokeoverflow_template_tags %}

{% block head_block %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="{% static 'css/topratedjokes.css' %}" rel="stylesheet">
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block title_block %}
{{ category }}
{% endblock %}

{% block body_block %}
<div class="container">
    <br>
    <h1 class="text-center form-signin-heading">
        This is the {{ category }} Jokes page
    </h1>
    <br>
    <div class="sc-page-desc text-center">
        Browse through all the best {{ category }} jokes and feel free to add your own if registered.
    </div>
    <br>

    {% if category.restricted and age < 18 and not request.user.is_superuser %}
    <strong>This category is restricted to the little'uns!</strong>
    {% else %}

    {% if user.is_authenticated %}
    <div class="row text-center">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <a class="btn-80 btn btn-lg btn-primary" href="{% url 'jokeoverflow:add_joke' category.slug %}">Add Joke
                in {{category.title}}</a>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-5 list-box sc-list-box ">
            <p>
            <div class="box-title text-center">Top Jokes in '{{ category.title }}'</div>
            <br>
            <div class="joke-list">
                {% if topratedjokes %}
                {% for joke in topratedjokes %}
                {% get_joke_pop joke user%}
                {% endfor %}
                <br>
                {% else %}
                <strong>There are no jokes present.</strong>
                {% endif %}
            </div>
        </div>

        <div class="col-md-5 list-box sc-list-box">
            <p>
            <div class="box-title text-center">Recently Addded Jokes in '{{ category.title }}'</div>
            <br>
            <div class="joke-list">
                {% if recentjokes %}
                {% for joke in recentjokes %}
                {% get_joke_pop joke user%}
                {% endfor %}
                <br>
                {% else %}
                <strong>There are no jokes present.</strong>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="sc-all-jokes-box col-md-10 list-box sc-list-box ">
            <p>
            <div class=" box-title text-center">All Jokes in '{{ category.title }}' ({{alljokes.count}})</div>
            <br>
            <div class="joke-list">
                {% if alljokes %}
                {% for joke in alljokes %}
                {% get_joke_pop joke user%}
                {% endfor %}
                <br>
                {% else %}
                <strong>There are no jokes present.</strong>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}