{% load staticfiles %}
{% load jokeoverflow_template_tags %}


    {% if jokes %}
    {% for joke in jokes %}
    {% if joke == act_joke %}
    <div class="box-cont text-center">
        <a href="#joke{{ joke.id }}">{{ joke.title }}</a>
    </div>
    <div id="joke{{ joke.id }}" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">&times;</a>
            <br>
            <div class="pop-joke-title text-center">
                {{ joke.title }}
            </div>
            <br>
            <div class="pop-joke-text">
                {#{{ joke.joke_text }}#}
                {{ joke.joke_text|linebreaks }}
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-md-3 ">
                    {% if act_user.is_authenticated %}
                    <input class="vote sc-vote-icon vote" type="image"
                           src="{% static 'images/icons/upvote2.png' %}" alt="Upvote"
                           width="48" height="48" title="Like this joke" data-joke="{{ joke }}">
                    <!--<img class = "vote-icon" src="{% static "images/icons/upvoteYES.PNG" %}" alt="Upvote" />-->
                    {% else %}
                    <img class="sc-vote-icon vote-icon" src="{% static 'images/icons/upvote2a.png' %}"
                         alt="Upvote"/>
                    {% endif %}
                    <div id="u{{ joke }}">{{ joke.upvotes }}</div>
                </div>
                <div class="col-md-3 ">
                    {% if act_user.is_authenticated %}
                    <input class="down-vote sc-vote-icon down-vote" type="image"
                           src="{% static 'images/icons/downvote2.png' %}" alt="Downvote" width="48"
                           height="48" title="Dislike this joke" data-joke="{{ joke }}">
                    <!--<img class = "vote-icon" src="{% static "images/icons/downvote.png" %}" alt="Downvote" />-->
                    {% else %}
                    <img class="sc-vote-icon vote-icon" src="{% static 'images/icons/downvote2a.png' %}"
                         alt="Downvote"/>
                    {% endif %}
                    <div id="d{{ joke }}">{{ joke.downvotes }}</div>
                </div>

                <div class="col-md-6">

                    <div class="comment-field" id="comment-container{{ joke }}">
                        <hr>
                        {% for comment in joke.comments.all %}
                        <div class="row">
                            {% for useri in users %}
                            {% if comment.made_by == useri.user %}
                            <div class="col-md-2 comment-profile-pic">
                                <!--<img src="{{ user.user_picture}}" alt="No profile picture"}>-->
                                {% if useri.user_picture %}
                                <img style="height:64px;; width:64px;"
                                     class="sc-com-profile-pic"
                                     src="{% get_media_prefix %}{{ useri.user_picture }}"
                                     alt="No profile picture" }>
                                {% else %}
                                <img style="height:60px; width:60px; margin-left:auto; margin-right:auto;"
                                     class="sc-com-profile-pic" style="float:right;"
                                     src="{% get_media_prefix %}profile_images/../../media/default.PNG"
                                     alt="No profile picture" }>
                                {% endif %}
                            </div>
                            <div class="sc-comment-text col-md-10">
                                {{ comment.comment_text|linebreaks }}
                                <small>{{ comment.made_by }}</small>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-1">
                    <div>
                        {% for useri in users %}
                        {% if useri.user == joke.added_by %}
                        {% if useri.user_picture %}
                        <img style="height:60px; width:60px;"
                             class="sc-com-profile-pic" style="float:right;"
                             src="{% get_media_prefix %}{{ useri.user_picture }}"
                             alt="No profile picture" }>
                        {% else %}
                        <img style="height:60px; width:60px;"
                             class="sc-com-profile-pic" style="float:right;"
                             src="{% get_media_prefix %}profile_images/../../media/default.PNG"
                             alt="No profile picture" }>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        JokeAuthor: <strong>{{ joke.added_by }}</strong>
                        <br>
                        Date Added: <strong>{{ joke.date_added }}</strong>
                    </div>
                </div>

                {% if act_user.is_authenticated %}
                <div class="col-md-1">
                    <div>
                        <input class="flag sc-vote-icon" type="image"
                               src="{% static 'images/icons/flag-icon.png' %}" alt="Flag"
                               width="30" height="30"
                               id="flag{{ joke }}"  title="Flag this joke"
                               data-fjoke="{{ joke }}">
                        <p id="resp{{ joke }}"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <form class="com" data-fjoke="{{ joke }}">
                            <input name="com{{ joke }}" id="com{{ joke }}" type="text"
                                   data-emojiable="true" value=""
                                   placeholder="Comment on {{ joke }}"
                                   data-emoji-input="unicode"
                                   data-ijoke="{{joke}}"
                            />
                            <button class="btn btn-primary" type="submit" id="submit"
                                    value="comment">Add your comment
                            </button>

                            <p id="res{{ joke }}"></p>


                        </form>

                    </div>
                </div>
                {% endif %}
            </div>
            </p>
        </div>
    </div>


    {% else %}
    {% endif %}
    {% endfor %}
    {% else %}
    <li><strong>There are no jokes present.</strong></li>
    {% endif %}