{% extends 'jokeoverflow/base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
    <title>JokeOverflow - Register</title>
{% endblock %}
{% block body_block %}
	<div class='col-sm-6 col-sm-offset-3'>
    <h1 class="form-signin-heading">Create a Profile</h1>
    <form role="form-signin"  method="post" action=".">
        {% csrf_token %}
        {{ form|crispy}}

    <br>
    <input class='btn btn-primary' type="submit" value="submit"/>
    <br>
    </form>
</div>
{% endblock %}
