{% extends 'jokeoverflow/base2.html' %}
{% block title_block %}
    <title>JokeOverflow - Top Rated Videos</title>

{% endblock %}
{% block body_block %}
    <div class="container">
        <h1>This is the TOP RATED VIDEOS page</h1>
        <div class="row">
            <div class="col-md-12">
                <div id="videos">
                    <h2> Most Liked Videos </h2>


<div id="videos">
                    {% if topratedvideos %}

                        {% for video in topratedvideos %}
                            <hr>
                            <h5>{{ video.title }}</h5>
                            <img class="thumbnail"
                                 src="{{ video.thumbnail }}" alt="No thumbnail">
                            <iframe width="420" height="280" title="{{ video.title }}"
                                    src={{ video.embed_code }}
                                            allowfullscreen>
                            </iframe>
                            <hr>

                        {% endfor %}
                    {% else %}
                        <strong>We ain't got no vids man!!</strong>
                    {% endif %}
</div>

                </div>
            </div>
        </div>
    </div>
    <div>
        {% if user.is_authenticated %}
            <br/>
            <form class="form-inline" id="user_form"
                  method="POST" action="{% url 'jokeoverflow:top_rated_videos' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" size="50"
                           name="query" value="{{ previous_query }}" id="query" placeholder="Search YouTube"/>

                </div>
                <button class="btn btn-primary" type="submit" id="submit"
                        value="Search">Search YouTube
                </button>
            </form>
            <br>

            <div>
                {% if result_list %}
                    <h3>Results</h3>
                    <!-- Display sea4rch results in an ordered list -->
                    <div class="list-group">
                        {% for result in result_list %}
                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">
                                    <a title="Click to watch!"
                                       href="https://www.youtube.com/embed/{{ result.id }}"><img class="thumbnail"
                                                                                                 src="{{ result.thumbnail.url }}"
                                                                                                 alt="No thumbnail">{{ result.title }}
                                    </a>
                                </h6>
                                <p class="list-group-item-text">{{ result.description }}</p>
                                {% if user.is_authenticated %}
                                    <br>
                                    <button data-id="{{ result.id }}" data-title="{{ result.title }}"
                                            data-code="https://www.youtube.com/embed/{{ result.id }}"
                                            data-added-by="{{ user }}" data-url="None"
                                            data-thumb="{{ result.thumbnail.url }}"
                                            class="video-add btn btn-info btn-sm" type="button" style="background: blue"
                                            title="Add a video">Add
                                    </button>
                                    <br>
                                {% endif %}

                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
            </div>
        {% endif %}
    <br>
    </div>
{% endblock %}
