{% extends 'jokeoverflow/base2.html' %}
{% load staticfiles %}
{% load jokeoverflow_template_tags %}

{% block head_block %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="{% static 'css/topratedjokes.css' %}" rel="stylesheet">

<style>
        input[type=text] {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url({% static "images/icons/search.gif" %});
            background-size: 30px;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 50px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
            width: 100%;
        }



</style>

{% endblock %}
{% block title_block %}
Top Rated Jokes
{% endblock %}

<div>
{% block sidebar_block %} 
	{% get_joke_list %} 
{% endblock %} 
</div>


{% block body_block %}
<div class="container">
    <br>
    <h1 class="text-center form-signin-heading">
        Top Rated Jokes
    </h1>
    <br>
    <div class="sc-page-desc text-center">
        Browse the creme de la creme of JokeOverflow
    </div>
    <div class="row">
    	<div class="col-md-3">
        </div>

        <div class="search-div col-md-6">
        	<form>
                	<input class="sc-joke-search" type="text"  name="suggestion" value ="" id="suggestion" placeholder="Search for joke...">
                </form>

            </div>

            <div class="col-md-3">
            </div>
        </div>
    <br><br>

    <div id="jokeslist">
    </div>



    <br>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-5 list-box sc-list-box">
            <div class="box-title text-center sc-heading-title"><p>Most Liked Jokes</p></div>
            {% if topratedjokes %}
            <ul class="list-group joke-list">
                {% for joke in topratedjokes %}
                {% get_joke_pop joke user%}
                {% endfor %}
            </ul>
            {% endif %}
            </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <br>
    <hr>

    <div class="box-title sc-heading-title text-center">
        <p>Most Liked Jokes in each Category</p>
    </div>
    <div class="row">
        {% if cat_rated_jokes %}
        {% for cat in categories %}
        {% if not cat.restricted %}
        <div class="col-md-5 list-box sc-list-box">
            <p>
            <div class="box-title text-center">Top Jokes in '{{ cat.title }}'</div>
            <br>
            <div class="joke-list">
                {% for joke in cat_rated_jokes|get_item:cat.title %}
                {% get_joke_pop joke user%}
                {% endfor %}
                <br>
            </div>
        </div>
        <br><br>
        <br><br>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}
