{% extends 'jokeoverflow/base2.html' %}
{% load staticfiles %}
{% block head_block %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="{% static 'css/topratedjokes.css' %}" rel="stylesheet">

<style>
        input[type=text] {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url({% static "images/icons/search.gif" %});
            background-size: 30px;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 50px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
            width: 100%;
        }
</style>

{% endblock %}
{% block title_block %}
Top Rated Jokes
{% endblock %}

{% block body_block %}
<div class="container">

    <div class="text-center sc-page-title">
        <p>TOP RATED JOKES</p>
    </div>
    <div class="sc-page-desc text-center">
        Browse the creme de la creme of JokeOverflow
    </div>
<br><br>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="search-div col-md-6">
            <form>
                <input class="sc-joke-search" type="text" name="search-joke" placeholder="Search for joke...">
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-5 list-box sc-list-box">
            <div class="box-title text-center sc-heading-title"><p>Most Liked Jokes</p></div>
            {% if topratedjokes %}
            <ul class="list-group joke-list">
                {% for joke in topratedjokes %}
                <div class="box-cont text-center">
                    <a href="#joke{{ joke.id }}">{{ joke.title }} ({{joke.category}})</a>
                </div>
                <div id="joke{{ joke.id }}" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">&times;</a>
                        <br>
                        <div class="pop-joke-title text-center">
                            {{ joke.title }}
                        </div>
                        <br>
                        <div class="pop-joke-text">
                            {#{{ joke.joke_text }}#}
                             {{ joke.joke_text|linebreaks }}
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-md-3 ">
                                {% if user.is_authenticated %}
                                <input class="vote sc-vote-icon vote" type="image"
                                       src="{% static 'images/icons/upvote2.png' %}" alt="Upvote"
                                       width="48" height="48" title="Like this joke" data-joke="{{ joke }}">
                                <!--<img class = "vote-icon" src="{% static "images/icons/upvoteYES.png" %}" alt="Upvote" />-->
                                {% else %}
                                <img class="sc-vote-icon vote-icon" src="{% static 'images/icons/upvote2a.png' %}"
                                     alt="Upvote"/>
                                {% endif %}
                                <div id="u{{ joke }}">{{ joke.upvotes }}</div>
                            </div>
                            <div class="col-md-3 ">
                                {% if user.is_authenticated %}
                                <input class="vote sc-vote-icon down-vote" type="image"
                                       src="{% static 'images/icons/downvote2.png' %}" alt="Upvote" width="48"
                                       height="48" title="Dislike this joke" data-joke="{{ joke }}">
                                <!--<img class = "vote-icon" src="{% static "images/icons/downvote.png" %}" alt="Downvote" />-->
                                {% else %}
                                <img class="sc-vote-icon vote-icon" src="{% static 'images/icons/downvote2a.png' %}"
                                     alt="Downvote"/>
                                {% endif %}
                                <div id="d{{ joke }}">{{ joke.downvotes }}</div>
                            </div>
                            <div class="col-md-6"> <!--comments-container">-->
                                {% if joke.comments.count == 1 %}
                                {{ joke.comments.count }} Comment: <br>
                                {% else %}
                                {{ joke.comments.count }} Comments: <br>
                                {% endif %}
                                <div class="comment-field">
                                    <hr>
                                    {% for comment in joke.comments.all %}
                                    <div class="row">
                                        {% for user in users %}
                                        {% if comment.made_by == user.user %}
                                        <div class="col-md-2 comment-profile-pic">
                                            <!--<img src="{{ user.user_picture}}" alt="No profile picture"}>-->
                                            {% if user.user_picture %}
                                            <img style="height:64px;; width:64px;"
                                                 class="sc-com-profile-pic"
                                                 src="{{ MEDIA_URL }}{{ user.user_picture }}"
                                                 alt="No profile picture" }>
                                            {% else %}
                                            <img style="height:60px; width:60px; margin-left:auto; margin-right:auto;"
                                                 class="sc-com-profile-pic" style="float:right;"
                                                 src="{{ MEDIA_URL }}default.PNG"
                                                 alt="No profile picture" }>
                                            {% endif %}
                                        </div>
                                        <div class="sc-comment-text col-md-10">
                                            {{ comment.comment_text|linebreaks }}
                                            <small>{{ comment.made_by }}</small>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-1">
                                <div>
                                    {% for user in users %}
                                    {% if user.user == joke.added_by %}
                                    {% if user.user_picture %}
                                    <img style="height:60px; width:60px;"
                                         class="sc-com-profile-pic" style="float:right;"
                                         src="{{ MEDIA_URL }}{{ user.user_picture }}"
                                         alt="No profile picture" }>
                                    {% else %}
                                    <img style="height:60px; width:60px;"
                                         class="sc-com-profile-pic" style="float:right;"
                                         src="{{ MEDIA_URL }}default.PNG"
                                         alt="No profile picture" }>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    Joke Author: <strong>{{ joke.added_by }}</strong>
                                    <br>
                                    Date Added: <strong>{{ joke.date_added }}</strong>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="col-md-6">
                                <div>
                                    <form class="com" data-fjoke="{{ joke.title }}">
                                        <input name="com{{ joke.title }}" id="com{{ joke.title }}" type="text"
                                               data-emojiable="true" value=""
                                               placeholder="Comment on {{ joke.title }}"
                                               data-emoji-input="unicode"
                                               data-ijoke="{{joke.title}}"
                                        />
                                        <button class="btn btn-primary" type="submit" id="submit"
                                                value="comment">Add your comment
                                        </button>

                                        <p id="res{{ joke }}"></p>
                                        </button>

                                        </button>

                                    </form>

                                </div>
                            </div>
                            {% endif %}
                        </div>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
            </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <br>
    <hr>

    <div class="box-title sc-heading-title text-center">
        <p>Most Liked Jokes in each Category</p>
    </div>
    <div class="row">
        {% if cat_rated_jokes %}
        {% for cat in categories %}
        {% if not cat.restricted %}
        <div class="col-md-5 list-box sc-list-box">
            <p>
            <div class="box-title text-center">Top Jokes in '{{ cat.title }}'</div>
            <br>
            <div class="joke-list">
                {% for joke in cat_rated_jokes|get_item:cat.title %}
                <div class="box-cont text-center">
                    <a href="#joke{{ joke.id }}">{{ joke.title }}</a>
                </div>
                <div id="joke{{ joke.id }}" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">&times;</a>
                        <br>
                        <div class="pop-joke-title text-center">
                            {{ joke.title }}
                        </div>
                        <br>
                        <div class="pop-joke-text">
                            {#{{ joke.joke_text }}#}
                             {{ joke.joke_text|linebreaks }}
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-md-3 ">
                                {% if user.is_authenticated %}
                                <input class="vote sc-vote-icon vote" type="image"
                                       src="{% static 'images/icons/upvote2.png' %}" alt="Upvote"
                                       width="48" height="48" title="Like this joke" data-joke="{{ joke }}">
                                <!--<img class = "vote-icon" src="{% static "images/icons/upvoteYES.png" %}" alt="Upvote" />-->
                                {% else %}
                                <img class="sc-vote-icon vote-icon" src="{% static 'images/icons/upvote2a.png' %}"
                                     alt="Upvote"/>
                                {% endif %}
                                <div id="u{{ joke }}">{{ joke.upvotes }}</div>
                            </div>
                            <div class="col-md-3 ">
                                {% if user.is_authenticated %}
                                <input class="vote sc-vote-icon down-vote" type="image"
                                       src="{% static 'images/icons/downvote2.png' %}" alt="Upvote" width="48"
                                       height="48" title="Dislike this joke" data-joke="{{ joke }}">
                                <!--<img class = "vote-icon" src="{% static "images/icons/downvote.png" %}" alt="Downvote" />-->
                                {% else %}
                                <img class="sc-vote-icon vote-icon" src="{% static 'images/icons/downvote2a.png' %}"
                                     alt="Downvote"/>
                                {% endif %}
                                <div id="d{{ joke }}">{{ joke.downvotes }}</div>
                            </div>
                            <div class="col-md-6"> <!--comments-container">-->
                                {% if joke.comments.count == 1 %}
                                {{ joke.comments.count }} Comment: <br>
                                {% else %}
                                {{ joke.comments.count }} Comments: <br>
                                {% endif %}
                                <div class="comment-field">
                                    <hr>
                                    {% for comment in joke.comments.all %}
                                    <div class="row">
                                        {% for user in users %}
                                        {% if comment.made_by == user.user %}
                                        <div class="col-md-2 comment-profile-pic">
                                            <!--<img src="{{ user.user_picture}}" alt="No profile picture"}>-->
                                            {% if user.user_picture %}
                                            <img style="height:64px;; width:64px;"
                                                 class="sc-com-profile-pic"
                                                 src="{{ MEDIA_URL }}{{ user.user_picture }}"
                                                 alt="No profile picture" }>
                                            {% else %}
                                            <img style="height:60px; width:60px; margin-left:auto; margin-right:auto;"
                                                 class="sc-com-profile-pic" style="float:right;"
                                                 src="{{ MEDIA_URL }}default.PNG"
                                                 alt="No profile picture" }>
                                            {% endif %}
                                        </div>
                                        <div class="sc-comment-text col-md-10">
                                            {{ comment.comment_text|linebreaks }}
                                            <small>{{ comment.made_by }}</small>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-1">
                                <div>
                                    {% for user in users %}
                                    {% if user.user == joke.added_by %}
                                    {% if user.user_picture %}
                                    <img style="height:60px; width:60px;"
                                         class="sc-com-profile-pic" style="float:right;"
                                         src="{{ MEDIA_URL }}{{ user.user_picture }}"
                                         alt="No profile picture" }>
                                    {% else %}
                                    <img style="height:60px; width:60px;"
                                         class="sc-com-profile-pic" style="float:right;"
                                         src="{{ MEDIA_URL }}default.PNG"
                                         alt="No profile picture" }>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    Joke Author: <strong>{{ joke.added_by }}</strong>
                                    <br>
                                    Date Added: <strong>{{ joke.date_added }}</strong>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="col-md-6">
                                <div>
                                    <form class="com" data-fjoke="{{ joke.title }}">
                                        <input name="com{{ joke.title }}" id="com{{ joke.title }}" type="text"
                                               data-emojiable="true" value=""
                                               placeholder="Comment on {{ joke.title }}"
                                               data-emoji-input="unicode"
                                               data-ijoke="{{joke.title}}"
                                        />
                                        <button class="btn btn-primary" type="submit" id="submit"
                                                value="comment">Add your comment
                                        </button>

                                        <p id="res{{ joke }}"></p>
                                        </button>

                                        </button>

                                    </form>

                                </div>
                            </div>
                            {% endif %}
                        </div>
                        </p>
                    </div>
                </div>





                {% endfor %}
                <br>
            </div>
        </div>
        <br><br>
        <br><br>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}
