{% extends 'jokeoverflow/base2.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title_block %}
{{user}}'s Page
{% endblock %}
{% block body_block %}


<div align="center">
    <h1 class="text-center"><u>Hello {{ user }}</u></h1>
    <br>
    <img src="{{ MEDIA_URL }}{{userprofile.user_picture }}"
         width="300"
         height="300"
         alt="{{selecteduser.username}}"/>
    <br/>

    <div>

        <div class="text-center">
            {% for useri in users %}
            {% if useri.user == user %}
            {% if useri.user_picture %}

            <img style="height:256px;; width:256px;"
                 class="sc-com-profile-pic"
                 src="{{ MEDIA_URL }}{{ useri.user_picture }}"
                 alt="{{useri.user}}" }>
            {% else %}
            <img style="height:256px; width:256px; margin-left:auto; margin-right:auto;"
                 class="sc-com-profile-pic" style="float:right;"
                 src="{{ MEDIA_URL }}profile_images/../../media/default.PNG"
                 alt="No profile picture" }>
            {% endif %}
            <br>
            <br>

            <h3>DOB: {{useri.date_of_birth}}</h3>
            <br>
            <h3>Bio: {{useri.user_bio}}</h3>
            {% endif %}
            {{ user.date_of_birth }}
            {% endfor %}
        </div>
        <br>

        <h2 class="text-center">Your Jokes</h2>
        <p>
        <div class="sc-jokes-table">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Upvotes</th>
                    <th>Downvotes</th>
                </tr>
                </thead>
                <tbody>
                {% for joke in user.jokes.all %}


                <tr>
                    <td>{{ joke.title }}</td>
                    <td>{{ joke.category }}</td>
                    <td>{{ joke.upvotes }}</td>
                    <td>{{ joke.downvotes }}</td>

                </tr>
                {% empty %}
                <td>No jokes here yet :(</td>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </p>


        <br>
        <hr>
        <br>

        <h2 class="text-center">Your Videos</h2>
        <p>
        <div class="sc-videos-table">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Video</th>
                    <th>Title</th>
                    <th>Date Added</th>
                </tr>
                </thead>
                <tbody>
                {% for video in user.videos.all %}


                <tr>
                    <td>
                        <iframe width="420" height="280" title="{{ video.title }}"
                                src={{ video.embed_code }}
                                allowfullscreen>
                        </iframe>
                    </td>
                    <td>{{ video.title }}</td>
                    <td>{{ video.date_added }}</td>

                </tr>
                {% empty %}
                <td>No videos here yet :(</td>
                {% endfor %}
                </tbody>
            </table>
        </div>

        </p>
        <br>
        <br>

        <div align="right">
            <a href="{% url 'jokeoverflow:edit_profile' %}">Edit Profile</a>
        </div>

        <br>
    </div>
</div>
{% endblock %}