{% extends 'jokeoverflow/base2.html' %}
{% load staticfiles %}
{% block title_block %}
{% endblock %}
{% block body_block %}
	<h1>Hello {{ user }}</h1>
	<div>
		<p>
			{% if user_profiles %}
				<ul class="list-group">
					{% for user in user_profiles %}
                        {% if user.user_picture %}
                        <img width="64" height="64" src="{{ MEDIA_URL }}{{ user.user_picture }}"/>
                        {% else %}
                        <img width="64" height="64" src="{{ MEDIA_URL }}default.PNG" alt="No image available"/>
                        {% endif %}
						<li> {{ user.user }} - {{ user.user_bio }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no User Profiles.</strong>
			{% endif %}
		</p>
         </div>

	<h2>Your Jokes</h2>
	<p>


	</p>		

	
{% endblock %}
